<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        @media screen and (max-width: 574px) {
            .jumbotron .container {
                padding: 35px 10px 35px 10px !important;
            }
        }
    </style>
</head>

<body>
    <%- include ('./partials/navbar') %>
    <main class="text-center" style="margin: 20px 0 0 0;">
        <div class="jumbotron">
            <div class="container-fluid" style="margin: -35px 0 -35px 0 !important;">
                <h1 class="display-6"><%=data.title%></h1>
                <div style="display: flex;justify-content: left;align-items: center;">
                    <div id="profile"  class="darkmode-ignore" style="background:linear-gradient(to right,orangered,orange);font-weight: 600;color: white;border-radius: 50%;padding: 8px 10px;margin:0 5px 10px 0">
                        <%=data.name.match(/\b(\w)/g).join('')%></div>
                    <p class="lead"><%=data.name%></p>
                </div>
                <h5 class="display-6 text-left" style="font-family: 'Roboto', arial, sans-serif;">
                    <%=data.body%>
                </h5>
                <p class="lead text-left"><%=data.date.toDateString()%></p>
                <div class="button text-white text-left">
                    <a class="btn btn-info" href="/">Go Back</a>
                </div>
                </>
            </div>
    </main>
</body>

</html>